body {
  font-family: monospace;
  margin: 0 0 20px;
  padding: 0;
  cursor: default;
}

h1 {
  padding: 18px;
  margin: 0;
  display: inline-block;
}

.input-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input {
  display: inline-block;
  white-space: nowrap;
  padding: 0 17px;
}

input {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

#container {
  min-height: 830px;
}

.input-container,
.password-container {
  padding: 0 19.1px;
}

.password-container {
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
}

.password {
  margin: 8px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: all;
}

.info {
  margin: 5px 20px;
  font-size: 16px;
  font-family: Segoe UI;
  max-width: 80ch;
}

#thumbprint {
  margin: 20px;
  height: 128px;
}